<header id="header">
    <a href="" id="logo"></a>
    <nav id="nav">
        <ul id="menu">
            <li><a href="">Sobre</a></li>
            <li><a href="">Equipe</a></li>
            <li><a href="">Pacotes</a></li>
        </ul>
    </nav>
</header>